<section class='new-section'>
<%= render "nav" %>
<div class='new-container'>
<h2>New entry</h2>

<%= render "form", entry: @entry %>

<br>

<div>
  <%= link_to "Back to entries", home_path %>
</div>
</div>
</section>