<div id="entry">
  <p>
    <strong>Title:</strong>
    <%= entry.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= entry.author %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= entry.body %>
  </p>

</div>
