* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

section {
    background-image: url("lily.jpeg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

nav {
    background-color: white;
    color: rgb(1, 52, 103);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    position: fixed;
    width: 100%;
}

#container {
    background-color: white;
    color: rgb(1, 52, 103);
    height: auto;
    width: 60%;
    margin: auto;
    padding: 2rem;
    position: relative;
    border-radius: 2rem;
}

hr {
    margin: 0.75rem 0;
}

.entry {
    padding: 0.8rem 0;
}

a:link,
:visited {
    color: rgb(1, 52, 103);
    text-decoration: none;
}

a:hover, button:hover {
    text-decoration: underline;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: rgb(1, 52, 103);
    font-size: 1rem;
}